html, body {
    background: #A50E2F;
    background-size: 400% 400%;
    margin: 0;
    padding: 0;
    color: white;
    animation: bgAnim 4s ease infinite;
  }
  a, body a {
    text-decoration: none;
    color: inherit;
  }
  a:hover, body a:hover {
    color: inherit;
  }
  header, body header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    height: 50px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 0 50px;
  }
  header .burger, body header .burger {
    height: 10px;
    margin-left: auto;
  }
  header .burger:hover, body header .burger:hover {
    cursor: pointer;
  }
  header .burger:active, body header .burger:active {
    transform: translateY(5px);
    transition: transform 0.5s ease-in-out;
  }
  header .logo, body header .logo {
    font-family: "Germania One", cursive;
    font-size: 1.5rem;
    font-weight: 200;
    padding-left: 100px;
  }
  header .live, body header .live {
    height: 60%;
    margin-left: -25px;
    animation: bounce 2s infinite ease-in-out;
    cursor: pointer;
  }
  @keyframes bounce {
    0%, 100% {
      transform: scale(0.85);
    }
    50% {
      transform: scale(1);
    }
  }
  main, body main {
    background: white;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: all 0.5s ease-in-out;
  }
  main h3, body main h3 {
    color: black;
  }
  .active, body .active {
    transform: translateY(350px);
  }
  .container, body .container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 5% 20%;
  }
  .first-letter {
    font-family: "Germania One", cursive;
    font-size: 3rem;
    align-self: flex-start;
    color: black;
  }
  .container p, body .container p {
    text-align: justify;
    margin: 50px 0;
  }
  @media(max-width:468px) {
    .container, body .container {
      padding: 5% 5%;
    }
  }
  h1, h2, h3, h4, h5, p, body h1, body h2, body h3, body h4, body h5, body p {
    margin: 0;
    padding: 0;
  }
  p, body p {
    font-family: "Barlow", sans-serif;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #656567;
  }
  .fade-enter-active, .fade-leave-active, body .fade-enter-active, body .fade-leave-active {
    transition: opacity 0.5s ease-in-out;
  }
  .fade-enter, .fade-leave-to, body .fade-enter, body .fade-leave-to {
    opacity: 0;
  }
  .transite-enter-active, .transite-leave-active, body .transite-enter-active, body .transite-leave-active {
    transition: transform 0.5s ease-in-out;
  }
  .transite-enter, .transite-leave-to, body .transite-enter, body .transite-leave-to {
    transform: translateY(5px);
  }
  @keyframes bgAnim {
    0% {
      background-position: 78% 0%;
    }
    50% {
      background-position: 23% 100%;
    }
    100% {
      background-position: 78% 0%;
    }
  }
.button-notif {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  background: #fff;
  border-radius: 4px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  color: #B2152D;
  text-decoration: none;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  white-space: nowrap;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  cursor: pointer;
}
.button-notif:hover {
  color: #FA7E7E;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}
.white {
  color: white;
}
  