html, body {
    background: #A50E2F;
    background-size: 400% 400%;
    margin: 0;
    padding: 0;
    color: white;
    animation: bgAnim 4s ease infinite;
  }
  a, body a {
    text-decoration: none;
    color: inherit;
  }
  a:hover, body a:hover {
    color: inherit;
  }
  header, body header {
    height: 50px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 0 50px;
  }
  header .burger, body header .burger {
    height: 10px;
    margin-left: auto;
  }
  header .burger:hover, body header .burger:hover {
    cursor: pointer;
  }
  header .burger:active, body header .burger:active {
    transform: translateY(5px);
    transition: transform 0.5s ease-in-out;
  }
  header .logo, body header .logo {
    font-family: "Germania One", cursive;
    font-size: 1.5rem;
    font-weight: 200;
    padding-left: 10px;
  }
  header .live, body header .live {
    height: 60%;
    margin-left: -25px;
    animation: bounce 2s infinite ease-in-out;
    cursor: pointer;
  }
  @keyframes bounce {
    0%, 100% {
      transform: scale(0.85);
    }
    50% {
      transform: scale(1);
    }
  }
  main, body main {
    background: white;
    display: flex;
    margin: 0 2% 5% 2%;
    height: 100%;
    width: 96%;
    border-radius: 5px;
    z-index: 1;
    transition: all 0.5s ease-in-out;
  }
  main h3, body main h3 {
    color: black;
  }
  .active, body .active {
    transform: translateY(300px);
  }
  .container, body .container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 5% 20%;
  }
  .container .first-letter, body .container .first-letter {
    font-family: "Germania One", cursive;
    font-size: 3rem;
    align-self: flex-start;
    color: black;
  }
  .container p, body .container p {
    text-align: justify;
    margin: 50px 0;
  }
  @media(max-width:468px) {
    .container, body .container {
      padding: 5% 5%;
    }
  }
  h1, h2, h3, h4, h5, p, body h1, body h2, body h3, body h4, body h5, body p {
    margin: 0;
    padding: 0;
  }
  p, body p {
    font-family: "Barlow", sans-serif;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #656567;
  }
  .fade-enter-active, .fade-leave-active, body .fade-enter-active, body .fade-leave-active {
    transition: opacity 0.5s ease-in-out;
  }
  .fade-enter, .fade-leave-to, body .fade-enter, body .fade-leave-to {
    opacity: 0;
  }
  .transite-enter-active, .transite-leave-active, body .transite-enter-active, body .transite-leave-active {
    transition: transform 0.5s ease-in-out;
  }
  .transite-enter, .transite-leave-to, body .transite-enter, body .transite-leave-to {
    transform: translateY(5px);
  }
  @keyframes bgAnim {
    0% {
      background-position: 78% 0%;
    }
    50% {
      background-position: 23% 100%;
    }
    100% {
      background-position: 78% 0%;
    }
  }
  