#grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: calc(100vh/1.7);
  width: 100%;
}
.texte {
  padding: 5%;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}
.texte img {
  height: 100px;
}
h2 {
  font-family: 'Germania One', cursive;
  font-size: 3rem;
  padding-bottom: 35px;
}
h3 {
  font-family: 'Germania One', cursive;
  font-size: 2.2rem;
  font-weight: bold;
}
p {
  padding: 3% 10%;
}
.bloc {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  grid-column: span 1;
  align-items: center;
  font-family: 'Barlow', sans-serif;
  background-color: white;
  background-image: none;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 5%;
  color: black;
}
.green {
  background: #4F5D56 !important;
  color: white !important;
}
.blue {
  background: #4267B2 !important;
}
.span-2 {
  grid-column: span 2 !important;
}
.span-v {
  grid-row: span 2;
}
.row {
  flex-flow: row nowrap !important;
  align-items: flex-start !important;
}
@media screen and (max-width: 468px) {
  .row {
    flex-flow: row wrap !important
  }
}
.row img {
  width: 50vw !important;
}
.row .texte {
  text-align: left;
}
.row p {
  padding: 0;
}
.beige {
  background-color: #F8F3EB !important;
}
.grey {
  background-color: rgba(lightgrey, 0.2) !important;
}
.dark {
  color: white;
}
.hover {
  background: rgba(black, 0.5);
  height: 100%;
  width: 100%;
  margin: 5%;
}
@media screen and (max-width: 468px) {
  #Bloc {
    grid-column: span 2;
  }
  .span-v {
    grid-row: span 1;
  }
}
